.form-container {
  overflow-x: scroll;
  border-radius: 5px;
  width: 80vw;
  box-shadow: 0px 2px 6px 2px #5f5f5f;
  background-color: white;
  top: -150px;
  margin: auto;
  text-align: justify;
  position: relative;
}

.container-heading {
  color: black;
  position: relative;
  top: -150px;
  text-align: center;
  padding: 20px;
}

.container-content {
  padding: 50px 100px 50px 100px;
}

.container-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 100px 50px 100px;
}
